@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Movie Lists", "Index", "MovieLists", null, null)</li>
    </ul>
    <form name="form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" title="Manage">@UserManager.GetUserName(User)</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            </li>
        </ul>
    </form>
} else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}

<script>
    function logout() {
        var form = document.forms["form"];
        form.submit();
    }
</script>