@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/manage.css" />

<div class="row">

    <div class="col">
        <h1 id="profile-header">@User.Identity.Name</h1>
    </div>
    
</div>

<div class="row">
    <div class="col">
        <button class="btn btn-default">Settings</button>
    </div>
</div>

<hr class="hr_less_margin" />

<div class="row">
    @RenderBody()
</div>

<!-- <div class="row">
    <div class="col-md-2">
        <h3 style="float:left">Profile Page</h3>
    </div>
</div>

<div col-md-12>
    <div class="row">
        <!-- <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
<div class="col-md-9">
</div>
    </div>
</div> -->

@section Scripts {
    @RenderSection("Scripts", required: false)
}
