@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

    <link rel="stylesheet" type="text/css" href="~/css/manage.css">


<div class="row">

    <div class="col-md-6">
        <h2>Your Movie Lists</h2>
    </div>

    <div class="col-md-6">
        <h2>Your Friends</h2>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
