@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/home.css">

<div class="row">
    <div class="col-sm-12">
        <div id="details">
            <h1><b>Welcome to ReelRate!</b></h1>
            <br />
            <h2>Make lists of your favorite films!</h2>
            <h2>Share lists with your friends!</h2>
            <h2>Discover new films to enjoy!</h2>
        </div>
        <br />
    </div>
</div>

<div class="row bordered">
    <div class="col-sm-4">
        <h3>About</h3>
        <p>
            ReelRate is a website for creating lists of your favorite films and sharing them with others
        </p>
    </div>
    <div class="col-sm-4">
        <h3>Welcome</h3>
        <p>
            ReelRate is a website for creating lists of your favorite films and sharing them with others
        </p>
    </div>
    <div class="col-sm-4">
        <h3>TMDB Disclaimer</h3>
        <p>
            This product uses the TMDb API but is not endorsed or certified by TMDb.
        </p>
    </div>
</div>

<script>
    alert("Warning: This website is still being worked on and not all features have been implemented and not all potential bugs have been ironed out yet.")
</script>