@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/home.css">

<div class="row">

    <div class="col-md-6 content-side-div">
        <h1><b>Welcome to ReelRate!</b></h1>

        <div id="details">
            <h2>Make lists of your favorite films!</h2>
            <h2>Share lists with your friends!</h2>
            <h2>Discover new films to enjoy!</h2>
        </div>
        <br />
    </div>

    <div class="col-md-6 content-side-div">
        <h1><b>Global 100 List</b></h1>
        <br />
        <div class="row justify-content-center">
            <ol>
                <li>
                    <span>Goodfellas</span>
                </li>
                <li>
                    <span>The Social Network</span>
                </li>
                <li>
                    <span>Schindler's List</span>
                </li>
                <li>
                    <span>The Departed</span>
                </li>
                <li>
                    <span>Apocalypse Now</span>
                </li>
                <li>
                    <span>No Country For Old Men</span>
                </li>
                <li>
                    <span>American Beauty</span>
                </li>
                <li>
                    <span>The Shawshank Redemption</span>
                </li>
                <li>
                    <span>The Silence of the Lammbs</span>
                </li>
                <li>
                    <span>The Good, The Bad and The Ugly</span>
                </li>
                <li id="ellipses">
                    <span>...</span>
                </li>
            </ol>
        </div>
        <a href="#" id="view_list_link">Full List</a>
    </div>

</div>
