@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
    <div class="col-md-6" id="welcome_div">
        <h1>Welcome to ReelRate!</h1>
        <br />
        <h3>Make lists of your favorite films!</h3>
        <h3>Share your lists with your friends!</h3>
        <h3>Discover new films to watch and enjoy!</h3>
    </div>
    <div class="col-md-6" id="home_list">
        <h3>Global 100 List</h3>
    </div>
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="row" id="box">
    <div class="col-md-4" id="row-item">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
        </ul>
    </div>
    <div class="col-md-4" id="row-item">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
        </ul>
    </div>
    <div class="col-md-4" id="row-item">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>
