@{
    ViewData["Title"] = "Home Page";
}

    <div class="col-md-12">
        <div class="col-md-6" id="welcome_div">
            <h1>Welcome to ReelRate!</h1>
            <br />
            <br />
            <br />

            <h2>Make lists of your favorite films!</h2>
            <h2>Share lists with your friends!</h2>
            <h2>Discover new films to enjoy!</h2>
        </div>
        <div class="col-md-6" id="home_list">
            <h1>Global 100 List</h1>
            <div class="col-md-10" id="list_preview">
                <ol>
                    <li id="movie_li">
                        <span>Goodfellas</span>
                    </li>
                    <li id="movie_li">
                        <span>The Social Network</span>
                    </li>
                    <li id="movie_li">
                        <span>Schindler's List</span>
                    </li>
                    <li id="movie_li">
                        <span>The Departed</span>
                    </li>
                    <li id="movie_li">
                        <span>Apocalypse Now</span>
                    </li>
                    <li id="movie_li">
                        <span>No Country For Old Men</span>
                    </li>
                    <li id="movie_li">
                        <span>American Beauty</span>
                    </li>
                    <li id="movie_li">
                        <span>The Shawshank Redemption</span>
                    </li>
                    <li id="movie_li">
                        <span>The Silence of the Lammbs</span>
                    </li>
                    <li id="movie_li">
                        <span>The Good, The Bad and The Ugly</span>
                    </li>
                </ol>
                <p id="ellipses">...</p>
                <a href="#" id="view_list">Full List</a>
            </div>
        </div>
    </div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="row" id="box">
    <div class="col-md-4" id="row-item">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
        </ul>
    </div>
    <div class="col-md-4" id="row-item">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
        </ul>
    </div>
    <div class="col-md-4" id="row-item">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>
