@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="row">

    <div class="col-md-6 main-left-div">
        <h2>Friends</h2>
    </div>

    <div class="col-md-6 main-left-div">
        <h2>Your Lists</h2>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
