.profile-pic {
    border: black;
    border-style: groove;
    border-width: thin;
    width: 100%;
}

.profile-name {
    margin-left: 50px;
    float: left;
}

.change_pic {
    font-size: 12px;
}

.hr_less_margin {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: -15px;
    margin-left: -15px;
}

.row {
    padding-left: 2em;
    padding-right: 2em;
}

#profile-header {
    font-size: 7rem;
}

.col-md-6 h2 {
    justify-content: center;
        
}