.profile-pic {
    border: black;
    border-style: groove;
    border-width: thin;
    width: 100%;
}

.profile-name {
    margin-left: 50px;
    float: left;
}

.change_pic {
    font-size: 12px;
}

.hr_less_margin {
    margin-top: 10px;
    margin-bottom: 10px;
}