/* 
    %   - for widths
    rem - for font-size
    em  - for padding/margin
    px  - rarely if at all 
*/

footer {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: gray;
}
    footer hr {
        color: gray;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(128,128,128, 0), rgba(128,128,128, 0.33), rgba(128,128,128, 0));
    }


a {
    font-weight: bold;
}
    a:hover, a:focus {
        color: #00c;
        text-decoration: none;
    }
    a:active {
        color: #054c87
    }


.navbar-inverse .navbar-brand {
    font-size: 3rem;
}
.navbar-inverse .navbar-nav > li > a, .navbar-btn {
    font-size: 2rem;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #3ba4ff;
    font-weight: bold;
}
    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover, navbar-btn:hover {
        color: white;
        text-decoration: none;
    }


.body-content {
    padding-left: 0em;
    padding-right: 0em;
}


.top-buffer {
    margin-top: 6em;
}
